tubaki{
  font-family: 'ＭＳ 明朝';
}
h1{
  background: #FFFFEE;
    width: 140px;
   text-align: center;
    border: 2px solid #000080;
  margin: 30px auto;
}
h3{
  font-family: 'メイリオ';
   text-align: center;
}
