tubaki{
  text-align: center;
}
h1{
  background: #FFFFEE;
  width: 140px;
  border: 2px solid #000080;
  margin: 30px auto;
  font-family: 'ＭＳ 明朝';
}
h3{
  font-family: 'メイリオ';
}
video{
  width: 100%;
  height: 500px;
  background-img: "https://masayoshi-nakagawa.github.io/IseTrip/20220321_102343.jpg"
}
ise{
  text-align: center;
}
