tubaki{
  text-align: center;
}
h1{
  background: #FFFFEE;
  width: 140px;
  border: 2px solid #000080;
  margin: 30px auto;
  font-family: 'ＭＳ 明朝';
}
h3{
  font-family: 'メイリオ';
}
video{
  width: 100%;
  height: 500px;
}
ise{
  text-align: center;
}
img{
  width: 50%;
  height: 500px;
  display: block;
  margin:auto;
}
